body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: auto;
  max-width: 1120px;
}

.no-bullshit {
  color: green;
}

.is-bullshit {
  color: red;
}

.best-bs-score {
  color: gray;
}

table {
  border-collapse: collapse;
  margin-top: 1em;
}

table th,
table td {
  border: 1px solid gainsboro;
  padding: 0.3em;
  text-align: left;
}

div.controls {
  display: flex;
}

div.controls > * {
  flex: 1;
  margin: 1em;
}
